<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Cookbook" }}</title>
  <meta name="theme-color" content="#485fc7">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="manifest" href="{{ '/manifest.json' | url }}">
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>👨🏻‍🍳</text></svg>"
  />
  <link rel="apple-touch-icon" href="{{ '/icon.png' | url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/bundle.css' | url }}">
</head>
<body>
  {% include "header.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  <script src="{{ '/bundle.js' | url }}"></script>
</body>
</html>
