:root {
  --bulma-family-primary: "Crimson Pro", serif;
}
.navbar {
  --bulma-navbar-background-color: var(--bulma-scheme-main-bis);
  font-weight: bold;
  font-size: 125%;
}
.toc {
  font-size: 200%;
  ul {
    list-style: disc;
    margin-left: 1em;
  }
}
.content {
  ul,
  p {
    font-size: 150%;
  }
}

/* Scaling tabs styling */
.scaling-tabs {
  margin-bottom: 0.5rem;
}

.scaling-tabs ul {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* Highlight scaled values */
code[data-scalable="true"] {
  font-weight: 600;
}

/* List item toggle functionality */
.content li:not([data-scale]) {
  cursor: pointer;
  user-select: none;
}

.content li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
